@using FinControlCore6.Models.DatabaseModels;
@using FinControlCore6.Utils
@using FinControlCore6.ViewModels;

@model IndexViewModel

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Закупка подразделения</h1>

	<vc:table-from-model model=@Model.DataPropertiesNames tag-id="main_table"></vc:table-from-model>
</div>
@section Scripts{
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap4.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="~/js/DataTableCreation.js"></script>

}

