@using FinControlCore6.Models.DatabaseModels
@using FinControlCore6.Utils
@using FinControlCore6.ViewModels
@model IEnumerable<string>

@{
	void PrintColumns(string className)
	{
	<tr class=@className>
				@foreach (var propertyName in Model)
			{
					<th>@propertyName</th>
			}
	</tr>
	}
}
<table id=@ViewBag.TagId class="compact stripe cell-border hover order-column"  style="width:100%;">
	<thead>
		@{
				<tr class="search-row">
					@for (int i =0;i<Model.Count();i++)
				{
						<th><input id=@("input" +i) type="text" placeholder="@("Search " + Model.ElementAt(i))" /></th>
				}
				</tr>
			PrintColumns("column-names-row");

		}
	</thead>
	@*<tbody>
	@foreach (var purchase in Model.Purchases)
	{
	<tr>
	@foreach (var property in properties)
	{
	<td>@Utils.GetPropertyValue(property,purchase).ToString()</td>
	}
	</tr>
	}
	</tbody>*@
	<tfoot>
		@{
			PrintColumns("footer-row");
		}
	</tfoot>
</table>

